.vscode/

outputs/

models/archive/
models/ebsynth/
models/latent-nerf/
models/prolific_dreamer2d/
models/prolific_dreamer2d_controlnet/
models/threestudio/
models/threestudio-github/
models/tiny-cuda-nn/
models/3D-FRONT-ToolBox/

data/*
!data/3DFront_scenes.zip
!data/bathroom_hq.zip
!data/bedroom_hq.zip
!data/kitchen_hq.zip
!data/livingroom_hq.zip
!data/scannet_apartment.zip
!data/scannet_bedroom.zip

_cache*
*.pyc
*.pth
*.png

models/rgb2x_cache/

lib/__pycache__/

wandb/

comparisons/